.navigation-responsive {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

@media (max-width:992px) {
  .navigation-responsive ul.sub__menu {
    transform: translateY(0) !important;
  }

  .navigation-responsive .navigation__responsive,
  .navigation-responsive .navigation__responsive ul.sub__menu {
    display: none;
    flex-shrink: 0
  }

  .navigation-responsive .navigation__responsive li.nav__menu-item {
    flex-wrap: wrap;
  }

  .navigation-responsive .navigation__responsive li.nav__menu-item ul.sub__menu {
    position: initial !important;
  }

  .navigation-responsive .navigation__responsive li.nav__menu-item {
    flex-basis: 100%;
    display: flex;
  }

  .navigation-responsive .navigation__responsive li.has-sub__menu>ul.sub__menu {
    overflow: hidden;
  }

  .navigation-responsive .navigation__responsive>li.nav__menu-item>ul.sub__menu>li.nav__menu-item {
    padding-left: 12px;
  }

  .navigation-responsive .navigation__responsive>li.nav__menu-item>ul.sub__menu>li.nav__menu-item>ul.sub__menu>li.nav__menu-item {
    padding-left: 24px;
  }

  .navigation-responsive .navigation__responsive span.menu__link-title {
    justify-content: left;
  }

}

@media (min-width:993px) {
  .navigation-responsive .navigation__responsive {
    display: flex!important;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .navigation-responsive .navigation__responsive>li.nav__menu-item ul.sub__menu,
  .navigation-responsive .navigation__responsive>li.nav__menu-item li.nav__menu-item {
    flex-grow: 1;
    flex-basis: 100%;
  }

  .navigation-responsive .navigation__responsive .sub__menu {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

}
