/* SideNav */
#primary-sidebar-menu {
  z-index: 1000;
  display: none;
  flex-direction: column;
  min-width: 600px;
}

#sidebar-button-open {
  background-color: transparent !important;
  margin: 10px 20px 0 0;
  z-index: 1;
  text-align: center !important;
}

#sidebar-button-close button,
#sidebar-button-open button {
  min-width: 70px;
  min-height: 60px;
  display: block;
}

#sidebar-button-close button span,
#sidebar-button-open button span {
  display: flex;
  width: 100%;
}

#sidebar-button-close {
  display: flex;
  justify-content: flex-end;
}

.navigation-sidebar {
  display: flex;
  justify-content: left;
  height: 100%;
  flex-basis: 100%;
  flex-direction: column;
}

.solo-inner .navigation-sidebar .navigation__sidebar li.nav__menu-item ul.sub__menu {
  position: initial;
}

.solo-inner .navigation-sidebar .navigation__sidebar li.nav__menu-item {
  flex-basis: 100%;
}

.solo-inner .navigation-sidebar .navigation__sidebar li.has-sub__menu ul.sub__menu {
  overflow: hidden;
}

.solo-inner .navigation-sidebar .navigation__sidebar>li.nav__menu-item>ul.sub__menu>li.nav__menu-item {
  padding-left: 12px;
}

.solo-inner .navigation-sidebar .navigation__sidebar>li.nav__menu-item>ul.sub__menu>li.nav__menu-item>ul.sub__menu>li.nav__menu-item {
  padding-left: 24px;
}

.solo-inner .navigation-sidebar .navigation__sidebar li.nav__menu-item span.menu__link-title {
  justify-content: left;
}

.solo-inner .navigation-sidebar .navigation__sidebar ul.sub__menu {
  box-shadow: none;
}

.solo-inner .navigation-sidebar .navigation__sidebar li.nav__menu-item ul.sub__menu {
  transform: translateY(0) !important;
}

.solo-inner .navigation-sidebar .navigation__sidebar li.nav__menu-item ul.sub__menu {
  position: initial !important;
}

.solo-inner .navigation-sidebar .navigation__sidebar li.nav__menu-item {
  flex-wrap: wrap;
}

.slide-out {
  animation-duration: 400ms;
  animation-name: slide-out;
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }

  100% {
    transform: translateX(-100%);
    opacity: 0;
  }

}

.slide-in {
  animation-duration: 400ms;
  animation-name: slide-in;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }

}
