#sidebar-button-open button {
  justify-content: flex-end;
  align-items: flex-end;
}
.primary-sidebar-menu {
  inset-inline-start: 100%;
  box-shadow: -50px 0 55px -30px rgba(0, 0, 0, 0.2);
}

.primary-sidebar-menu.toggled {
  transform: translateX(-100%);
}
