@media (max-width:992px) {
  .navigation-primary-template ul.sub__menu,
  #primary-menu ul.sub__menu {
    transform: translateY(0) !important;
  }

  .navigation-primary-template .navigation__menubar,
  .navigation-primary-template .navigation__menubar ul.sub__menu,
  #primary-menu .navigation__menubar,
  #primary-menu .navigation__menubar ul.sub__menu {
    display: none;
    flex-shrink: 0
  }

  .navigation-primary-template .navigation__menubar li.nav__menu-item,
  #primary-menu .solo-inner .navigation__menubar li.nav__menu-item {
    flex-wrap: wrap;
  }

  .navigation-primary-template .navigation__menubar li.nav__menu-item ul.sub__menu,
  #primary-menu .solo-inner .navigation__menubar li.nav__menu-item ul.sub__menu {
    position: initial !important;
  }

  .navigation-primary-template .navigation__menubar li.nav__menu-item,
  #primary-menu .navigation__menubar li.nav__menu-item {
    flex-basis: 100%;
    display: flex;
  }

  .navigation-primary-template .navigation__menubar li.has-sub__menu>ul.sub__menu,
  #primary-menu .navigation__menubar li.has-sub__menu>ul.sub__menu {
    overflow: hidden;
  }

  .navigation-primary-template .navigation__menubar>li.nav__menu-item>ul.sub__menu>li.nav__menu-item,
  #primary-menu .navigation__menubar>li.nav__menu-item>ul.sub__menu>li.nav__menu-item {
    padding-left: 12px;
  }

  .navigation-primary-template .navigation__menubar>li.nav__menu-item>ul.sub__menu>li.nav__menu-item>ul.sub__menu>li.nav__menu-item,
  #primary-menu .navigation__menubar>li.nav__menu-item>ul.sub__menu>li.nav__menu-item>ul.sub__menu>li.nav__menu-item {
    padding-left: 24px;
  }

  .navigation-primary-template .navigation__menubar span.menu__link-title,
  #primary-menu .navigation__menubar span.menu__link-title {
    justify-content: left;
  }

}

@media (min-width:993px) {
  .navigation-primary-template .navigation__menubar,
  #primary-menu .navigation__menubar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .navigation-primary-template .navigation__menubar>li.nav__menu-item ul.sub__menu,
  #primary-menu .navigation__menubar>li.nav__menu-item li.nav__menu-item,
  .navigation-primary-template .navigation__menubar>li.nav__menu-item ul.sub__menu,
  #primary-menu .navigation__menubar>li.nav__menu-item li.nav__menu-item {
    flex-grow: 1;
    flex-basis: 100%;
  }

  .navigation-primary-template .navigation__menubar .sub__menu,
  #primary-menu .navigation__menubar .sub__menu {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

}
