/* For Primary Sidenav menu and any sidenav menu. */
#primary-sidebar-menu {
  z-index: 5001;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-width: 600px;
  position: fixed !important;
  overflow: auto;
}

.primary-sidebar-menu {
  inset-block-start: 0;
  inset-inline-start: 100%;
  visibility: hidden;
  overflow: auto;
  width: 100%;
  max-width: 600px;
  height: 100%;
  transition: visibility 0.2s, transform 0.2s;
  box-shadow: -50px 0 55px -30px rgba(0, 0, 0, 0.2);
}

.primary-sidebar-menu.toggled {
  visibility: visible;
  transform: translateX(-100%);
}

.navigation-sidebar {
  display: flex;
  justify-content: left;
  height: 100%;
  flex-basis: 100%;
  flex-direction: column;
}

.solo-inner .navigation-sidebar .navigation__sidebar,
.solo-inner .navigation-sidebar .navigation__sidebar ul.sub__menu {
  display: flex;
  justify-content: left;
  align-items: stretch;
  flex-basis: 100%;
  flex-grow: 1;
  flex-wrap: wrap;
}

.solo-inner .navigation-sidebar .navigation__sidebar li.button-only>button,
.solo-inner .navigation-sidebar .navigation__sidebar li.nav__menu-item {
  flex-basis: 100%;
}

.solo-inner .navigation-sidebar .navigation__sidebar li.has-sub__menu ul.sub__menu {
  overflow: hidden;
}

.solo-inner .navigation-sidebar .navigation__sidebar>li.nav__menu-item>ul.sub__menu>li.nav__menu-item>a:first-child,
.solo-inner .navigation-sidebar .navigation__sidebar>li.nav__menu-item>ul.sub__menu>li.nav__menu-item>button:first-child {
  padding-left: 24px;
}

.solo-inner .navigation-sidebar .navigation__sidebar>li.nav__menu-item>ul.sub__menu>li.nav__menu-item>ul.sub__menu>li.nav__menu-item>a:first-child,
.solo-inner .navigation-sidebar .navigation__sidebar>li.nav__menu-item>ul.sub__menu>li.nav__menu-item>ul.sub__menu>li.nav__menu-item>button:first-child {
  padding-left: 32px;
}

.solo-inner .navigation-sidebar .navigation__sidebar li.has-sub__menu {
  justify-content: space-between;
  flex-wrap: wrap;
}

.solo-inner .navigation-sidebar .navigation__sidebar ul.sub__menu {
  display: none;
}

.solo-inner .navigation-sidebar .navigation__sidebar li.link-and-button>button {
  margin-left: auto;
}

.slide-out {
  animation-duration: 400ms;
  animation-name: slide-out;
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }

  100% {
    transform: translateX(-100%);
    opacity: 0;
  }

}

.slide-in {
  animation-duration: 400ms;
  animation-name: slide-in;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }

}
