/* Add your css code here */

/*#page-wrapper {
  --r-bg:;
  --r-tx:;
  --r-h1:;
  --r-lk:;
  --r-lk-h:;
  --r-br:;
  --r-bg-fr:;
  --r-tx-lk:;
  --r-tx-lk-h:;
  --r-bg-lk:;
  --r-bg-lk-h:;
  --r-tx-bt:;
  --r-tx-bt-h:;
  --r-bg-bt:;
  --r-bg-bt-h:;
}*/
