@media (min-width:48rem) {
  .copyright-first {
    text-align: left;
  }

  .copyright-second {
    text-align: right;
  }

  /* node edit */
  .path-node .layout-node-form {
    display: flex;
    flex-wrap: wrap;
  }

  .layout-region-node-secondary {
    -webkit-box-shadow: 10px 0px 20px 10px rgba(180, 180, 180, 0.1);
    box-shadow: 10px 0px 20px 10px rgba(180, 180, 180, 0.2);
    width: 29%;
    margin: 0 0 20px 1%;
  }

  .layout-region-node-main {
    -webkit-box-shadow: -10px 0px 20px 10px rgba(180, 180, 180, 0.1);
    box-shadow: -10px 0px 20px 10px rgba(180, 180, 180, 0.2);
    width: 70%;
    margin: 0 0 20px 0;
  }

  .layout-region-node-footer {
    margin-top: 0;
    flex: 0 0 100%;
  }

  body:not(.path-frontpage).main-container-inner {
    padding-top: var(--solo-px12);
  }

  .admin-context .system-status-general-info__items {
    display: flex;
    overflow-x: hidden;
    flex-wrap: wrap;
  }

  .admin-context .system-status-general-info__item {
    border-color: var(--solo-br);
    flex: 1;
    flex-basis: 33%;
    width: 33%;
  }

  .admin-context .system-status-general-info__item:nth-child(2) {
    flex: 2;
    flex-basis: 66%;
  }

  .admin-context .system-status-general-info__run-cron {
    margin: var(--solo-px16) 0 var(--solo-px16);
  }

}

@media (max-width:48rem) {

  /*  layotu file*/
  .multi>.solo-inner {
    grid-auto-flow: row !important;
  }

  .copyright-first,
  .copyright-second {
    text-align: center;
    margin: 0;
  }

  .ui-dialog {
    max-width: 90%;
    margin: 0 5%;
  }

  .ui-dialog .ui-dialog-buttonpane {
    text-align: center;
  }

  .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: none;
  }

  /* Default Article Node */
  .page-node-type-article .node .field--type-image {
    float: none;
    margin: 0 auto;
  }

  .page-node-type-article .field--type-text,
  .page-node-type-article .field--type-text-with-summary {
    display: block !important;
    clear: both;
  }

  .header-inner .block-system-branding-block {
    justify-content: center;
  }

  .main-container-inner.pb-flip-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "main"
    "first"
    "second";
  }

  .main-container-inner.pb-flip-main .sidebar-box-main {
    grid-area: main;
  }

  .main-container-inner.pb-flip-main .sidebar-box-first {
    grid-area: first;
  }

  .main-container-inner.pb-flip-main .sidebar-box-second {
    grid-area: second;
  }

}
