@media (max-width:25.875rem) {
  h1 {
    font-size: var(--solo-20);
  }

  h2 {
    font-size: var(--solo-18);
  }

  h3 {
    font-size: var(--solo-16);
  }

  h4 {
    font-size: var(--solo-14);
  }

  #primary-sidebar-menu {
    min-width: 200px;
    max-width: 250px;
  }

}
