@media (max-width:62rem) {
  .copyright-first,
  .copyright-second {
    text-align: center;
    margin: 0;
  }

  .ui-dialog {
    max-width: 90%;
    margin: 0 5%;
  }

  .ui-dialog .ui-dialog-buttonpane {
    text-align: center;
  }

  .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: none;
  }

  /* Default Article Node */
  .page-node-type-article .node .field--type-image {
    float: none;
    margin: 0 auto;
  }

  .page-node-type-article .field--type-text,
  .page-node-type-article .field--type-text-with-summary {
    display: block !important;
    clear: both;
  }

  #primary-sidebar-menu {
    min-width: 300px;
    max-width: 500px;
  }

}
