@media (min-width:993px) {
  .mobile-nav {
    display: none!important;
  }

  .copyright-first {
    text-align: left;
  }

  .copyright-second {
    text-align: right;
  }

  /* node edit */
  .path-node .layout-node-form {
    display: flex;
    flex-wrap: wrap;
  }

  .layout-region-node-secondary {
    -webkit-box-shadow: 10px 0px 20px 10px rgba(180, 180, 180, 0.1);
    box-shadow: 10px 0px 20px 10px rgba(180, 180, 180, 0.2);
    width: 29%;
    margin: 0 0 20px 1%;
  }

  .layout-region-node-main {
    -webkit-box-shadow: -10px 0px 20px 10px rgba(180, 180, 180, 0.1);
    box-shadow: -10px 0px 20px 10px rgba(180, 180, 180, 0.2);
    width: 70%;
    margin: 0 0 20px 0;
  }

  .layout-region-node-footer {
    margin-top: 0;
    flex: 0 0 100%;
  }

  body:not(.path-frontpage).main-container-inner {
    padding-top: 12px;
  }

}
