.solo-inner .navigation__menubar-account,
.solo-inner .navigation__menubar-account li {
  margin: 0;
  padding: 0;
}

.solo-inner.navigation__menubar-account {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  margin: 0;
  padding: 0;
}

.header-inner .navigation__menubar-account {
  justify-content: center;
}

.solo-inner .navigation__menubar-account li {
  float: inline-end;
  margin: 0;
  padding: 0;
  display: inline-flex;
  line-height: 1.5;
  font-size: var(--solo-px16);
}

.solo-inner .navigation__menubar-account li a {
  text-align: center;
  padding-block: 0.563rem !important;
  padding-inline: var(--solo-px16) !important;
  min-width: 90px;
  line-height: 1.5;
}

.solo-inner .navigation__menubar-account li a span {
  width: 100%;
}
