.block-page-title-block {
  display: grid;
}

h1.page-title {
  display: grid;
  padding: var(--solo-32) 0;
}

h1.page-title span {
  display: inline-flex;
}

@media (min-width:75rem) {
  h1.page-title {
    font-size: var(--solo-64);
    line-height: calc(2 * var(--solo-34));
  }

}

@media (max-width:75rem) {
  h1.page-title {
    font-size: var(--solo-48);
    line-height: var(--solo-50);
  }

}

@media (max-width:62rem) {
  h1.page-title {
    font-size: var(--solo-36);
    line-height: var(--solo-38);
    padding: var(--solo-16) 0;
  }

}

@media (max-width:36rem) {
  h1.page-title {
    font-size: var(--solo-20);
    line-height: var(--solo-22);
    padding: var(--solo-8) 0;
  }

}
