table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid var(--r-br, var(--r-br-b));
}

tr.region-title {
  color: var(--r-tx);
  background-color: var(--r-bg);
}

.region-title td {
  font-weight: bold !important;
  text-transform: uppercase;
}

.region-title td a {
  text-transform: capitalize;
}

table td ul {
  margin: 0;
}

table td li {
  list-style: none;
}

.solo-table-all {
  border-color: var(--r-br, var(--r-br-b)) !important;
}

.solo-table td,
.solo-table th,
.solo-table-all td,
.solo-table-all th {
  vertical-align: middle;
  text-align: initial;
}

td .form-type-radio,
td .form-type-checkbox {
  margin: 0 !important;
}
