/**
 * @file
 * Default style for file module.
 */

/* https://iconduck.com/sets/svg-file-type-icons */

.field--type-file .field__items .field__item {
  margin-bottom: var(--solo-px8);
}

.file {
  display: inline-block;
  min-height: var(--solo-px24);
  padding-left: var(--solo-px32);
  background-repeat: no-repeat;
  background-position: left center; /* LTR */
  background-size: var(--solo-px32) var(--solo-px32);
  background-repeat: no-repeat;
}

[dir="rtl"] .file {
  padding-right: var(--solo-px32);
  padding-left: inherit;
  background-position: right center;
}

.file--general,
.file--application-octet-stream {
  background-image: url(../../images/icons/application-octet-stream.svg);
}

.file--package-x-generic {
  background-image: url(../../images/icons/package-x-generic.svg);
}

.file--x-office-spreadsheet {
  background-image: url(../../images/icons/x-office-spreadsheet.svg);
}

.file--x-office-document {
  background-image: url(../../images/icons/x-office-document.svg);
}

.file--x-office-presentation {
  background-image: url(../../images/icons/x-office-presentation.svg);
}

.file--text-x-script {
  background-image: url(../../images/icons/text-x-script.svg);
}

.file--text-html {
  background-image: url(../../images/icons/text-html.svg);
}

.file--text-plain {
  background-image: url(../../images/icons/text-plain.svg);
}

.file--application-pdf {
  background-image: url(../../images/icons/application-pdf.svg);
}

.file--application-x-executable {
  background-image: url(../../images/icons/application-x-executable.svg);
}

.file--audio {
  background-image: url(../../images/icons/audio-x-generic.svg);
}

.file--video {
  background-image: url(../../images/icons/video-x-generic.svg);
}

.file--text {
  background-image: url(../../images/icons/text-x-generic.svg);
}

.file--image {
  background-image: url(../../images/icons/image-x-generic.svg);
}

/* Separate files */

/* Document */
.file--pdf {
  background-image: url(../../images/icons/pdf.svg) !important;
}

.file--text,
.file--txt {
  background-image: url(../../images/icons/txt.svg) !important;
}

.file--docx {
  background-image: url(../../images/icons/docx.svg) !important;
}

.file--doc {
  background-image: url(../../images/icons/doc.svg) !important;
}

.file--odt {
  background-image: url(../../images/icons/odt.svg) !important;
}

.file--dot {
  background-image: url(../../images/icons/dot.svg) !important;
}

.file--ott {
  background-image: url(../../images/icons/ott.svg) !important;
}

/* Spreadsheet */
.file--xls {
  background-image: url(../../images/icons/xls.svg) !important;
}

.file--xlsx {
  background-image: url(../../images/icons/xlsx.svg) !important;
}

.file--csv {
  background-image: url(../../images/icons/csv.svg) !important;
}

.file--csv {
  background-image: url(../../images/icons/csv.svg) !important;
}

.file--ods {
  background-image: url(../../images/icons/ods.svg) !important;
}

.file--ots {
  background-image: url(../../images/icons/ots.svg) !important;
}

/* Presentation */
.file--ppt,
.file--pptx {
  background-image: url(../../images/icons/ppt.svg) !important;
}

.file--odp {
  background-image: url(../../images/icons/odp.svg) !important;
}

.file--otp {
  background-image: url(../../images/icons/otp.svg) !important;
}

.file--odf {
  background-image: url(../../images/icons/odf.svg) !important;
}

.file--key {
  background-image: url(../../images/icons/key.svg) !important;
}

/* Movie */
.file--mp4 {
  background-image: url(../../images/icons/mp4.svg) !important;
}

.file--mkv {
  background-image: url(../../images/icons/mkv.svg) !important;
}

.file--mpeg {
  background-image: url(../../images/icons/mpeg.svg) !important;
}

.file--mov {
  background-image: url(../../images/icons/mov.svg) !important;
}

.file--wmv {
  background-image: url(../../images/icons/wmv.svg) !important;
}

.file--avi {
  background-image: url(../../images/icons/avi.svg) !important;
}

.file--flv {
  background-image: url(../../images/icons/flv.svg) !important;
}

/* Audio */
.file--aiff {
  background-image: url(../../images/icons/aiff.svg) !important;
}

.file--ogg {
  background-image: url(../../images/icons/ogg.svg) !important;
}

.file--wav {
  background-image: url(../../images/icons/wav.svg) !important;
}

.file--aac {
  background-image: url(../../images/icons/aac.svg) !important;
}

.file--wma {
  background-image: url(../../images/icons/wma.svg) !important;
}

.file--midi {
  background-image: url(../../images/icons/midi.svg) !important;
}

.file--mp3 {
  background-image: url(../../images/icons/mp3.svg) !important;
}

.file--m3u {
  background-image: url(../../images/icons/m3u.svg) !important;
}

/* Image */
.file--tiff {
  background-image: url(../../images/icons/tiff.svg) !important;
}

.file--svg {
  background-image: url(../../images/icons/svg.svg) !important;
}

.file--gif {
  background-image: url(../../images/icons/gif.svg) !important;
}

.file--png {
  background-image: url(../../images/icons/png.svg) !important;
}

.file--bmp {
  background-image: url(../../images/icons/bmp.svg) !important;
}

.file--jpg,
.file--jpeg {
  background-image: url(../../images/icons/jpeg.svg) !important;
}

/* Compressed files */
.file--zip {
  background-image: url(../../images/icons/zip.svg) !important;
}

.file--7z {
  background-image: url(../../images/icons/7z.svg) !important;
}

.file--gz {
  background-image: url(../../images/icons/gz.svg) !important;
}

.file--rar {
  background-image: url(../../images/icons/rar.svg) !important;
}

.file--iso {
  background-image: url(../../images/icons/iso.svg) !important;
}

.file--tar {
  background-image: url(../../images/icons/tar.svg) !important;
}

.file--dmg {
  background-image: url(../../images/icons/dmg.svg) !important;
}

.file--bz2 {
  background-image: url(../../images/icons/bz2.svg) !important;
}
.file--bz {
  background-image: url(../../images/icons/bz.svg) !important;
}

/* Scripts */
.file--css {
  background-image: url(../../images/icons/css.svg) !important;
}

.file--exe {
  background-image: url(../../images/icons/exe.svg) !important;
}

.file--dll {
  background-image: url(../../images/icons/dll.svg) !important;
}

.file--html {
  background-image: url(../../images/icons/html.svg) !important;
}

.file--mime-application-json {
  background-image: url(../../images/icons/json.svg) !important;
}

.file--rtf {
  background-image: url(../../images/icons/rtf.svg) !important;
}

.file--xml {
  background-image: url(../../images/icons/xml.svg) !important;
}

.file--pyz {
  background-image: url(../../images/icons/pyz.svg) !important;
}

.file--rb {
  background-image: url(../../images/icons/rb.svg) !important;
}

.file--yml {
  background-image: url(../../images/icons/yml.svg) !important;
}

.file--sql {
  background-image: url(../../images/icons/sql.svg) !important;
}

.file--bz2 {
  background-image: url(../../images/icons/bz2.svg) !important;
}

.file--pxm {
  background-image: url(../../images/icons/pxm.svg) !important;
}

.file--tga {
  background-image: url(../../images/icons/tga.svg) !important;
}
