#fixed-search-block {
  display: block;
  width: 100%;
  z-index: 5000;
  height: 0;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: hidden;
  transition: 0.5s;
  box-shadow: 0 var(--solo-2) var(--solo-5) 0 rgba(0, 0, 0, 0.16), 0 var(--solo-2) var(--solo-10) 0 rgba(0, 0, 0, 0.12);
  background-color: var(--r-bg);
}

#fixed-search-block .fixed-search-block-inner {
  position: relative;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}

.fixed-search-block-inner {
  display: flex;
  flex-wrap: nowrap;
  row-gap: 0;
}

.fixed-search-block-inner .search-button-close {
  flex-basis: 50px;
}

.fixed-search-block-inner .search-button-close button {
  color: var(--r-tx);
  border: 1px solid var(--r-br, var(--r-br-b));
  background-color: var(--r-bg);
  min-width: 50px !important;
  margin: var(--solo-6) auto !important;
}

.fixed-search-block-inner .solo-search-block-form {
  flex-basis: calc(100% - 50px);
  flex-grow: 1;
}

.fixed-search-block-inner {
  position: relative;
}
