.breadcrumb>.breadcrumb-inner {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.breadcrumb-nav {
  display: grid;
}

ul.breadcrumb-menu {
  display: flex;
  flex-wrap: wrap;
  padding: var(--solo-px8) var(--solo-px6);
  list-style: none;
}

ul.breadcrumb-menu li {
  display: inline;
  border-bottom: none;
  padding: var(--solo-px5) var(--solo-px3) var(--solo-px5);
}

ul.breadcrumb-menu li+li:before {
  padding: var(--solo-px8) 0;
  content: "/\00a0";
}
