.navigation__menubar-footer {
  justify-content: center;
}

.navigation__menubar-footer li a {
  padding: var(--solo-6) var(--solo-12);
}

.footer-menu-first {
  margin: var(--solo-16) auto;
}

.footer-menu-second>* {
  margin: var(--solo-16) auto;
}

.navigation__menubar-footer li {
  display: inline-flex;
}

/* label form in the footer */
.footer-menu-inner form label {
  text-align: left;
  float: left;
}

.sm-icons a > span .svg-icon {
  width: 100%;
  height: 100%;
}

.sm-icons a > span {
  font-family: inherit !important;
  transition: transform .2s;
  width: 1.875rem;
  height: 1.875rem;
  margin: 0 var(--solo-5);
  display: inline-block;
  background-repeat: no-repeat;
}

.sm-icons.sm-icons-medium a > span {
  background-size: calc(2 * var(--solo-20));
  width: calc(2 * var(--solo-20));
  height: calc(2 * var(--solo-20));
}

.sm-icons.sm-icons-large a > span {
  background-size: var(--solo-64);
  width: var(--solo-64);
  height: var(--solo-64);
}

.sm-icons a > span:hover {
  transform: scale(1.3);
  opacity: 0.8;
}

.sm-icons {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.sm-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--solo-12);
  flex-shrink: 0;
  margin: 0 2px;
}

.sm-icons a > .fa-ext {
  font-weight: normal;
  font-size: var(--solo-16);
}

.sm-icons .facebook svg {
  fill: var(--solo-fb);
}

.sm-icons .twitter svg {
  fill: var(--solo-tw);
}

.sm-icons .pinterest svg {
  fill: var(--solo-pi);
}

.sm-icons .linkedin svg {
  fill: var(--solo-in);
}

.sm-icons .instagram svg {
  fill: var(--solo-st);
}

.sm-icons .youtube svg {
  fill: var(--solo-tb);
}

.sm-icons .drupal svg {
  fill: var(--solo-dr);
}

.sm-icons .mastodon svg {
  fill: var(--solo-md);
}

.sm-icons .rss svg {
  fill: var(--solo-ss);
}
