#views-entity-list {
  padding: 0.01em var(--solo-16);
}

.views-ui-view-displays ul li {
  display: inline-block;
  margin-right: var(--solo-16);
}

.view-filters details.form-wrapper {
  margin: var(--solo-16) 0;
  padding: var(--solo-8);
  border: var(--solo-1) solid var(--r-br, var(--r-br-b));
}

.view-filters details.form-wrapper:hover {
  cursor: pointer;
}

.view-header {
  padding: 0 var(--solo-16);
}

#view-edit-form  .dropbutton li a {
  padding: var(--solo-4) var(--solo-10);
}

.views-ui-display-tab-bucket {
  padding-top: 11px;
}

.js .views-edit-view .dropbutton-wrapper .dropbutton .dropbutton-action > *,
.views-display-setting,
.views-display-setting input,
.views-display-setting .label,
.views-display-extra-actions a {
  font-size: var(--solo-14) !important;
}

.views-preview-wrapper {
  border-color: var(--r-br, var(--r-br-b));
  padding: var(--solo-10);
  margin: 0 var(--solo-16) var(--solo-8) var(--solo-16);
}

.js .views-edit-view .dropbutton-wrapper .dropbutton .dropbutton-action input {
  margin: var(--solo-2) 0 !important;
  border: none !important;
  float: right;
  width: 100%;
  text-align: left;
}

.view-preview-form > h2,
.view-preview-form > .solo-section {
  width: 100%;
  display: block;
  clear: both;
  position: static;
}

.views-filterable-options-controls .form-item {
  float: left;
}

.views-ui-display-tab-bucket .views-display-setting {
  padding-top: var(--solo-5);
  padding-bottom: var(--solo-5);
}

.views-ui-display-tab-bucket .dropbutton-wrapper {
  top: var(--solo-1);
}

.views-align-left {
  text-align: left !important;
}

.views-align-right {
  text-align: right !important;
}

.views-align-center {
  text-align: center !important;
}
