/* Regions */
.page-wrapper {
  --r-br: #b2dbfb;
  --r-bg: #f3f9fe;
  --r-tx: #000204;
}

.fixed-search-block {
  --r-bg: #e3f1fd;
}

.header {
  --r-bg: #f3f9fe
}

/* Heads */
.page-wrapper h1,
.page-wrapper h2,
.page-wrapper h3,
.page-wrapper h1 a,
.page-wrapper h2 a,
.page-wrapper h3 a,
.page-wrapper h1 a span,
.page-wrapper h2 a span,
.page-wrapper h3 a span {
  --r-tx: #042844;
}

/* Link only */
.page-wrapper a:not(.nav__menu-link,
.button,
.site-name-link,
.site-logo,
h1 a,
h2 a,
h3 a) {
  --r-tx: #064475;
}

.page-wrapper a:hover:not(.nav__menu-link,
.button,
.site-name-link,
.site-logo,
h1 a,
h2 a,
h3 a) {
  --r-tx: #021524;
}

/* Menu Links */
.page-wrapper .login-button-open,
.page-wrapper .hamburger-icon button,
.page-wrapper .main-navigation-wrapper,
.page-wrapper .main-navigation-wrapper ul,
.page-wrapper .main-navigation-wrapper li,
.page-wrapper .header li.nav__menu-item>a,
.page-wrapper .main-navigation-wrapper li>a,
.page-wrapper .header li.nav__menu-item>button,
.page-wrapper .main-navigation-wrapper li>button {
  --r-bg: #0a7cd7;
  --r-tx: #000204;
}

.page-wrapper .login-button-open:hover,
.page-wrapper .hamburger-icon button:hover,
.page-wrapper .header li.nav__menu-item>a:hover,
.page-wrapper .main-navigation-wrapper li>a:hover,
.page-wrapper .header li.nav__menu-item>button:hover,
.page-wrapper .main-navigation-wrapper li>button:hover {
  --r-bg: #1f96f5;
  --r-tx: #b1dbfc;
}

.page-wrapper ul.tabs.secondary li a:hover,
.page-wrapper ul.tabs.primary li a:hover {
  --r-bg: #1f96f5;
  --r-tx: #b1dbfc;
  background-color: var(--r-bg);
}

@media (min-width:62.001rem) {

  /* The same colors as hover for the main menu */
  .page-wrapper .navigation-responsive-hover .navigation__megamenu>li.has-sub__menu:hover>a,
  .page-wrapper .navigation-responsive-hover .navigation__megamenu>li.has-sub__menu:hover>button,
  .page-wrapper .navigation-responsive-hover .navigation__responsive:not(.navigation__megamenu) li.has-sub__menu:hover>a,
  .page-wrapper .navigation-responsive-hover .navigation__responsive:not(.navigation__megamenu) li.has-sub__menu:hover>button {
    --r-bg: #1f96f5;
    --r-tx: #b1dbfc;
  }

  .page-wrapper .solo-inner .navigation__responsive>li>ul,
  .page-wrapper .solo-inner .navigation__responsive:not(.navigation__megamenu)>li>ul>li>ul {
    box-shadow: 0 2.8px 2.2px rgba(var(--solo-shadow), .034), 0 6.7px 5.3px rgba(var(--solo-shadow), .048), 0 12.5px 10px rgba(var(--solo-shadow), .06), 0 22.3px 17.9px rgba(var(--solo-shadow), .072), 0 41.8px 33.4px rgba(var(--solo-shadow), .086), 0 100px 80px rgba(var(--solo-shadow), .12);
  }

}

/* Form Button */
.page-wrapper a.button,
.page-wrapper input.button,
.page-wrapper .search-button-close button,
.block-user-login-block form+.item-list ul li a {
  --r-bg: #0b72c5;
  --r-tx: #f3f9fe;
}

.page-wrapper a.button:hover,
.page-wrapper input.button:hover,
.page-wrapper .search-button-close button:hover,
.block-user-login-block form+.item-list ul li a:hover {
  --r-bg: #f3f9fe;
  --r-tx: #0b72c5;
}

/* Regions */
.welcome-text {
  --r-bg: var(--solo-white);
}

.highlighted,
.popup-login-block-inner {
  --r-bg: #f3f9fe;
}

.top-container {
  --r-bg: #e3f1fd;
}

.top-container .top-box-first-inner {
  --r-bg: #f3f9fe;
}

.top-container .top-box-second-inner {
  --r-bg: #f3f9fe;
}

.top-container .top-box-third-inner {
  --r-bg: #f3f9fe;
}

.main-container {
  --r-bg: #f3f9fe;
}

.main-container .main-box {
  --r-bg: var(--solo-white);
}

.page-wrapper .bottom-container a,
.page-wrapper .bottom-container h1,
.page-wrapper .bottom-container h2,
.page-wrapper .bottom-container h3,
.bottom-container {
  --r-bg: #031e34;
  --r-tx: #f3f9fe;
}

.bottom-container .bottom-box-first-inner {
  --r-bg: #021524;
}

.bottom-container .bottom-box-second-inner {
  --r-bg: #021524;
}

.bottom-container .bottom-box-third-inner {
  --r-bg: #021524;
}

.bottom-container .bottom-box-fourth-inner {
  --r-bg: #021524;
}

.page-wrapper .footer-container a,
.page-wrapper .footer-container h1,
.page-wrapper .footer-container h2,
.page-wrapper .footer-container h3,
.footer-container {
  --r-bg: #021524;
  --r-tx: #f3f9fe;
}

.footer-container .footer-box-first-inner {
  --r-bg: #010c14;
}

.footer-container .footer-box-second-inner {
  --r-bg: #010c14;
}

.footer-container .footer-box-third-inner {
  --r-bg: #010c14;
}

.page-wrapper div.page-title,
.page-wrapper .footer-menu a,
.page-wrapper .footer-menu h1,
.page-wrapper .footer-menu h2,
.page-wrapper .footer-menu h3,
.footer-menu {
  --r-bg: #010c14;
  --r-tx: #f3f9fe;
}

.breadcrumb,
.page-wrapper .breadcrumb a,
.page-wrapper .copyright a,
.copyright {
  --r-bg: #000204;
  --r-tx: #f3f9fe;
}

.page-wrapper .bottom-container a:hover,
.page-wrapper .footer-container a:hover,
.page-wrapper .breadcrumb a:hover,
.page-wrapper .copyright a:hover {
  --r-tx: #a2d3fa;
}

.sm-icons .facebook svg,
.sm-icons .twitter svg,
.sm-icons .pinterest svg,
.sm-icons .linkedin svg,
.sm-icons .instagram svg,
.sm-icons .youtube svg,
.sm-icons .drupal svg,
.sm-icons .mastodon svg,
.sm-icons .rss svg {
  fill: #91ccfa;
}

.page-wrapper .solo-select,
.page-wrapper .solo-radio,
.page-wrapper .solo-check,
.page-wrapper .solo-input,
.page-wrapper .solo-textarea,
.page-wrapper a.button,
.page-wrapper input.button,
.page-wrapper .search-button-close button {
  --r-br: #0760a7;
}

.page-wrapper .solo-select:focus,
.page-wrapper .solo-ckeck:focus,
.page-wrapper .solo-radio:focus,
.page-wrapper .solo-input:focus,
.page-wrapper .solo-textarea:focus {
  --r-br: #021524;
}

/* Border animation  */
@keyframes borderLeftColors {
  0% {
    width: 0;
    height: 0;
    border-top-color: var(--r-br, var(--r-br-b));
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  50% {
    width: 100%;
    height: 0;
    border-top-color: var(--r-br, var(--r-br-b));
    border-right-color: var(--r-br, var(--r-br-b));
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  99.9999% {
    width: 100%;
    height: 100%;
    border-top-color: var(--r-br, var(--r-br-b));
    border-right-color: var(--r-br, var(--r-br-b));
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  100% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

}

@keyframes borderRightColors {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: var(--r-br, var(--r-br-b));
    border-left-color: transparent;
  }

  50% {
    width: 100%;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: var(--r-br, var(--r-br-b));
    border-left-color: var(--r-br, var(--r-br-b));
  }

  99.9999% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: var(--r-br, var(--r-br-b));
    border-left-color: var(--r-br, var(--r-br-b));
  }

  100% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

}
