/* The region colors */
.page-wrapper,
.solo-outer,
.region-inner {
  background-color: var(--solo-region-color-bg);
  color: var(--solo-region-color-text);
}

.page-wrapper,
.fixed-search-block {
  --solo-region-color-bg: #f8f8f8;
  --solo-region-color-text: #3a3a3a;
}

.header {
  --solo-region-color-bg: #bebebe;
}

.system-messages {
  --solo-region-color-bg: var(--solo-black);
}

.primary-menu,
.mobile-nav {
  --solo-region-color-bg: #222;
  --solo-region-color-text: #efefef;
}

.welcome-text {
  --solo-region-color-bg: var(--solo-white);
  --solo-region-color-text: #3a3a3a;
}

.highlighted,
.popup-login-block-inner {
  --solo-region-color-bg: #efefef;
  --solo-region-color-text: #3a3a3a;
}

.top-container {
  --solo-region-color-bg: #e4e4e4;
}

.top-container .top-box-first-inner {
  --solo-region-color-bg: #ededed;
  --solo-region-color-text: #3a3a3a;
}

.top-container .top-box-second-inner {
  --solo-region-color-bg: #ddd;
  --solo-region-color-text: #3a3a3a;
}

.top-container .top-box-third-inner {
  --solo-region-color-bg: #ededed;
  --solo-region-color-text: #3a3a3a;
}

.page-title {
  --solo-region-color-bg: #4e4e4e;
  --solo-region-color-text: #efefef;
}

.main-container {
  --solo-region-color-bg: #f4f4f4;
  --solo-region-color-text: #3a3a3a;
}

.main-container .main-box-inner {
  --solo-region-color-bg: var(--solo-white);
}

.bottom-container {
  --solo-region-color-bg: #4d4d4d;
}

.bottom-container .bottom-box-first-inner {
  --solo-region-color-bg: #636363;
  --solo-region-color-text: #efefef;
}

.bottom-container .bottom-box-second-inner {
  --solo-region-color-bg: #525252;
  --solo-region-color-text: #efefef;
}

.bottom-container .bottom-box-third-inner {
  --solo-region-color-bg: #525252;
  --solo-region-color-text: #efefef;
}

.bottom-container .bottom-box-fourth-inner {
  --solo-region-color-bg: #636363;
  --solo-region-color-text: #efefef;
}

.footer-container {
  --solo-region-color-bg: #3a3a3a;
}

.footer-container .footer-box-first-inner {
  --solo-region-color-bg: #494949;
  --solo-region-color-text: #9f9f9f;
}

.footer-container .footer-box-second-inner {
  --solo-region-color-bg: #313131;
  --solo-region-color-text: #bebebe;
}

.footer-container .footer-box-third-inner {
  --solo-region-color-bg: #494949;
  --solo-region-color-text: #9f9f9f;
}

.footer-menu {
  --solo-region-color-bg: #1e1e1e;
  --solo-region-color-text: #bebebe;
}

.copyright,
.sidebar-button-close,
.primary-sidebar-menu {
  --solo-region-color-bg: #141414;
  --solo-region-color-text: #bebebe;
}

/* button animation  */
@keyframes btnBorderAnimation {
  0% {
    width: 0;
    height: 0;
    border-bottom-color: #fff;
  }

  99.9999% {
    width: 100%;
    height: 100%;
    border-bottom-color: #fff;
  }

  100% {
    width: 0;
    height: 0;
    border-bottom-color: transparent;
  }

}

/* Border animation  */
@keyframes borderLeftColors {
  0% {
    width: 0;
    height: 0;
    border-top-color: #fff;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  50% {
    width: 100%;
    height: 0;
    border-top-color: #fff;
    border-right-color: #fff;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  99.9999% {
    width: 100%;
    height: 100%;
    border-top-color: #fff;
    border-right-color: #fff;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  100% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

}

@keyframes borderRightColors {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #fff;
    border-left-color: transparent;
  }

  50% {
    width: 100%;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #fff;
    border-left-color: #fff;
  }

  99.9999% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #fff;
    border-left-color: #fff;
  }

  100% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

}
