.page-wrapper h1,
.page-wrapper h2,
.page-wrapper h3,
.page-wrapper .fjalla-one {
  --solo-h1: 'Fjalla One', sans-serif;
  font-family: var(--solo-h1);
  letter-spacing: var(--solo-px1);
}

@media (min-width:62rem) {
  .page-wrapper h1 {
    font-size: calc(2 * var(--solo-px24));
    line-height: calc(2 * var(--solo-px26));
  }

  .page-wrapper h2 {
    font-size: calc(2 * var(--solo-px20));
    line-height: calc(2 * var(--solo-px22));
  }

  .page-wrapper h3 {
    font-size: calc(2 * var(--solo-px17));
    line-height: calc(2 * var(--solo-px18));
  }

}
